.App{
    height: 100vh;
    width: 100%;
    background-color: rgb(227, 205, 205);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header"
                         "cont cont"
                         "footer footer";
    grid-template-rows: 0.1fr 1fr 0.1fr;
}
Header{
    grid-area: header;
    font-weight: bolder;
    background-color: blueviolet;
}
Content{
    grid-area: cont;
}
Footer{
   grid-area: footer;
   background-color: aquamarine;
}



